<div class="popup-window">
    <div>
    <h4><%= point.name %></h4>

    </div>
      <div class="point-image">
    <%= link_to point_path(point) do  %>
      <%= cl_image_tag point.photo %>
    <% end %>

      </div>
    <div>
    <p><%= point.category %></p>
    <p><%= point.description %></p>
    <p><i class="far fa-user"></i> <%= link_to "#{point.user.first_name} #{point.user.last_name}", user_path(point.user_id), class: "popup-links "%></p>
    </div>


</div>

