<div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
  <%= link_to user_path(current_user[:id]) do %>
    <% avatar_url = current_user.facebook_picture_url || "#{current_user.avatar}" %>
    <%= image_tag avatar_url, class: "rounded-circle user-profile-avatar" %>
  <% end %>
</div>
<button id="set-route-button" class="btn btn-sm btn-dark m-2">Set Route</button>

<form id="set-route" method="post" action="/trips">
  <input name="authenticity_token" id="auth" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" id="start_long" name="trip[start_long]" >
  <input type="hidden" id="start_lat" name="trip[start_lat]" >
  <input type="hidden" id="end_long" name="trip[end_long]" >
  <input type="hidden" id="end_lat" name="trip[end_lat]">
  <button type="submit" id="set-route-submit">createtrip</button>
</form>

