<div>
  <div
    id="map"
    style="width: 100%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>

  <footer id="map-footer">
    <button id="toggle-active"><i class="far fa-hand-pointer"></i></button>

    <form id="set-route" method="post" action="/trips" data-remote="true">
      <input name="authenticity_token" id="auth" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" id="start_long" name="trip[start_long]" >
      <input type="hidden" id="start_lat" name="trip[start_lat]" >
      <input type="hidden" id="end_long" name="trip[end_long]" >
      <input type="hidden" id="end_lat" name="trip[end_lat]">
      <input type="hidden" id="distance" name="trip[distance]">
      <input type="hidden" id="duration" name="trip[duration]">
      <button type="submit" class="btn save-trip" id="set-route-submit"><i class="fas fa-save fa-2x"></i>
      </button>
    </form>

    <button class="fas fa-map-marker-alt fa-2x" id="pin-drop"></button>
    <!-- <%#= link_to "", points_path, class: "fas fa-map-marker-alt fa-2x" %> -->

    <%= link_to user_path(current_user[:id]) do %>
      <% avatar_url = current_user.facebook_picture_url || "#{current_user.avatar}" %>
      <%= image_tag avatar_url, class: "rounded-circle user-profile-avatar" %>
    <% end %>
  </footer>
</div>





<div class="modal fade" id="pointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create your new point!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

