<%= render 'shared/navbar' %>
<div class="container">
  <h1><%= @point.name %></h1>
  <h3><%= @point.category  %></h3>
  <p><%= @point.description %></p>
</div>

<% @point.posts.each do |post| %>
  <p><%= post.title %></p>
  <% post.photos.each do |photo| %>
    <%= cl_image_tag photo.image.url(:thumnail), width: 250, height: 250 %>
  <% end %>

<% end %>
