<%= render 'shared/navbar' %>
<div class="container">
  <%= cl_image_tag @point.photo %>
  <h1><%= @point.name %></h1>
  <h3><%= @point.category  %></h3>
  <p><%= @point.description %></p>
  <p>Created by: <%= link_to "#{@point.user.first_name} #{@point.user.last_name}", user_path(@point.user_id)%></p>

  <div class="border border-secondary mt-1 mb-1">
    <p>Share your comments and photos</p>
    <%= simple_form_for([@point, @post], remote: true) do |f| %>
    <%= f.simple_fields_for :photo, Photo.new do |photo_form| %>
      <%= photo_form.file_field :photo, multiple: true, name: "photos[]" %>
      <% end %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit %>
    <% end %>
  </div>

  <!-- previous code was @posts.each -->
  <div id="post-container">
    <% @point.posts.each do |post| %>
    <div class="border border-secondary mt-1 mb-1">
      <h5><%= post.title %></h5>
      <p><%= post.content %></p>
      <p>Created by: <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user_id)%></p>
      <% post.photos.each do |photo| %>
        <%= cl_image_tag photo.image.url(:thumbnail), width: 200, height: 200 %>
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Delete', post_path(post), class: "btn btn-outline-success", method: :delete, data: { confirm: "Are you sure you want to delete this post?"}  %>
      <% end %>
      <% if policy(post).edit? %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-success" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

