<div class="banner">
  <div class="container">
    <div class="profile-card">
      <div class="profile-avatar">
        <div>
       <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url %>
        </div>
      </div>
      <div>
        <h3><%= @user.first_name %></h3>
        <p><%= @user.country %></p>
      </div>
    </div>
    <div class="about-section">
      <div class="about-title">
        <div class="d-flex">
          <%= link_to "", edit_user_registration_path, class: "fas fa-edit mr-1" %>
          <!-- IF statement to not show colon if bio blank -->
          <% if @user.bio.length < 1 %>
            <h6>About <%= "#{@user.first_name}" %></h6>
          <% else %>
            <h6>About <%= "#{@user.first_name}: #{current_user.bio}" %></h6>
          <% end %>
        </div>
        <div class="stats-section">
          <div class="row">
            <div class="stats-card ml-2">
              <i class="fas fa-road"></i>
              <p>Total kilo</p>
            </div>
            <div class="stats-card">
              <i class="fas fa-stopwatch"></i>
              <p>Hours ridden</p>
            </div>
            <div class="stats-card">
              <i class="fas fa-road"></i>
              <p>Longest ride</p>
            </div>
          </div>
          <div class="rider-bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, dolorum quisquam ad a similique quo accusamus blanditiis sapiente sed, perferendis nisi ullam beatae id quod doloribus quae voluptate? Sit, sint?</p>
          </div>
          <div class="journey-section">
            <h6><%= @user.first_name %>'s Journey</h6>
          </div>
          <div class="journey-menu">
            <div class="drop-menu card">
              <h6>Routes</h6>
            </div>
            <div class="drop-menu card">
              <h6>Posts</h6>
            </div>
            <div class="drop-menu card">
              <h6>Points</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
