<body id="profile-background">
  <div class="banner" >
    <div class="container page-body">
      <div class="profile-card">
        <div class="profile-avatar">
          <div>
            <% avatar_url = @user.facebook_picture_url || "#{@user.avatar}" %>
            <%= image_tag avatar_url, class: "rounded-circle user-profile-avatar" %>
          </div>
        </div>
        <div>
          <h3><%= @user.first_name %></h3>
          <p><%= @user.country %></p>
        </div>
        <div class="logout">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary justify" %>
        </div>
      </div>
      <div class="about-section">
        <div class="about-title">
          <div class="d-flex top-panel">
            <%= link_to "", points_path, class: "fas fa-globe-europe"  %>
            <% if current_user == @user %>
            <h6><%= "My Profile" %></h6>
            <% else %>
            <h6>About <%= "#{@user.first_name}" %></h6>
            <% end %>
            <% if current_user == @user %>
            <%= link_to "", edit_user_registration_path, class: "edit-icon far fa-edit" %>
            <% end %>
          </div>
          <div class="stats-section">
            <div class="row">
               <div class="stats-block">
                  <p class="mb-3"><strong>Life Distance</strong></p>
                    <% total_distance = 0.0 %>
                    <% @user.trips.each do |trip| %>
                      <% total_distance += trip.distance %>
                    <% end %>
                     <p><%= (total_distance).round %> km</p>
                  <div class="stats-card ml-2">
                  <i class="fas fa-calculator"></i>
               </div>
              </div>
              <div class="stats-block">
                  <p class="mb-3"><strong>Hours Ridden</strong></p>
                  <% total_duration = 0.0 %>
                    <% @user.trips.each do |trip| %>
                      <% total_duration += trip.duration %>

                    <% end %>
                    <p><%= (total_duration).round %> hr</p>
                <div class="stats-card">
                  <i class="fas fa-stopwatch"></i>
                </div>
              </div>
              <div class="stats-block">
                  <p class="mb-3"><strong>Longest ride</strong></p>
                  <p><%= @user.trips.max.distance.round %> km</p>
                <div class="stats-card">
                  <i class="fas fa-road"></i>
                </div>
              </div>
            </div>
            <div class="rider-bio">
              <%# if @user.bio.nil? || @user.bio.length < 1 %>
              <%# else %>
               <h6>User bio</h6>
              <p><%= @user.bio %></p>
              <%# end %>
            </div>
            <div class="journey-section">
              <% if current_user == @user %>
              <h6>My Journey</h6>
              <% else %>
              <h6><%= @user.first_name %>'s Journey</h6>
              <% end %>
            </div>
              <div class="accordion mb-5" id="accordionExample">
                <div class="card">
                  <div class="card-header panel-heading" data-toggle="collapse" data-target="#collapseOne" id="headingOne">
                    <h5 class="mb-0">
                      <u>
                        Routes
                      </u>
                    </h6>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <% @user.trips.each do |trip| %>

                        <%#= trip.created_at.strftime("%F") %>
                        <h3><%= trip.created_at.strftime("%d %b %Y") %>:</h3>
                        <p><i class="fas fa-biking"></i>
                        <% origin = Geocoder.search([trip.start_lat, trip.start_long]) %>
                        <%= origin[0].town %>
                        <%= origin[0].county %>
                        <%= origin[0].state %>
                        <%= origin[0].country %> to

                        <% destination = Geocoder.search([trip.end_lat, trip.end_long]) %>
                        <%= destination[0].town %>
                        <%= destination[0].county %>
                        <%= destination[0].state %>
                        <%= destination[0].country %>
                        </p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header panel-heading" data-toggle="collapse" data-target="#collapseThree" id="headingThree">
                    <h5 class="mb-0">
                      <!-- <button class="btn btn-link collapsed" type="button"  aria-expanded="false" aria-controls="collapseThree"> -->
                        <u>Points</u>
                      <!-- </button> -->
                    </h6>
                  </div>
                    <div class="card-body">
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <% @user.points.reverse.take(3).each do |point| %>
                      <div class="dropdown-card my-3">
                        <%= link_to point_path(point) do  %>
                         <%= cl_image_tag point.photo, height: 100, width: 130, class: "card-image" %>
                         <% end %>
                         <div>
                           <p><strong><%=  point.name %></strong></p>
                           <p><%= point.category %></p>
                           <p><%= point.description.truncate(40)%></p>
                         </div>
                      </div>
                       <% end %>
                    <div class="panel-group" id="accordion21">
                      <div class="panel">
                        <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoOne">See more...
                        </a>
                        <div id="collapseTwoOne" class="panel-collapse collapse">
                        <div class="panel-body"></div>
                         <% @user.points.reverse.drop(3).each do |point| %>
                      <div class="dropdown-card my-3">
                        <%= link_to point_path(point) do  %>
                         <%= cl_image_tag point.photo, height: 100, width: 130, class: "card-image" %>
                         <% end %>
                         <div>
                           <p><strong><%=  point.name %></strong></p>
                           <p><%= point.category %></p>
                           <p><%= point.description.truncate(40)%></p>
                         </div>
                      </div>
                       <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="card">
                  <div class="card-header panel-heading" data-toggle="collapse" data-target="#collapseTwo" id="headingTwo">
                    <h5 class="mb-0">
                      <!-- <button class="btn btn-link collapsed" type="button"  aria-expanded="false" aria-controls="collapseTwo"> -->
                        <u>Posts</u>
                      <!-- </button> -->
                    </h6>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <% @user.posts.take(3).each do |point| %>
                      <div class="dropdown-card my-3">
                        <p><strong><%= point.title %></strong></p>
                          </p>
                        <br>
                        <p><%= point.content %></p>
                        <p><%= link_to "#{point.point.name}", point_path(point.point_id) %></p>
                        <p><%#= link_to "See point",  %></p>
                      </div>
                        <% end %>
                         <div class="panel-group" id="accordion22">
                      <div class="panel">
                        <a data-toggle="collapse" data-parent="#accordion22" href="#collapseTwoOne">See more...
                        </a>
                        <div id="collapseTwoOne" class="panel-collapse collapse">
                        <div class="panel-body"></div>
                         <% @user.posts.reverse.drop(3).each do |point| %>
                      <div class="dropdown-card my-3">
                        <p><strong><%= point.title %></strong></p>
                          </p>
                        <br>
                        <p><%= point.content %></p>
                        <p><%= link_to "#{point.point.name}", point_path(point.point_id) %></p>
                        <p><%#= link_to "See point",  %></p>
                      </div>
                        <% end %>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
