<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "", points_path, class: "navbar-brand fal fa-arrow-alt-circle-left mr-1" %>
  <%#= link_to points_path, class: "navbar-brand fal fa-arrow-alt-circle-left" do %>
    <%#= image_tag "logo.png" %>
  <%# end %>
</nav>
<div class="banner" >
  <div class="container">
    <div class="profile-card">
      <div class="profile-avatar">
        <div>


       <% avatar_url = @user.facebook_picture_url || "#{@user.avatar}" %>

          <%= image_tag avatar_url, class: "rounded-circle user-profile-avatar" %>
        </div>
      </div>
      <div>
        <h3><%= @user.first_name %></h3>
        <p><%= @user.country %></p>
      </div>
    </div>
    <div class="about-section">
      <div class="about-title">
        <div class="d-flex">
          <% if current_user == @user %>
          <%= link_to "", edit_user_registration_path, class: "fas fa-edit mr-1" %>
          <% end %>
          <% if current_user == @user %>
          <h6><%= "My Profile" %></h6>
          <% else %>
          <h6>About <%= "#{@user.first_name}" %></h6>
          <% end %>
          <%= link_to "Back to map", points_path  %>
        </div>
        <div class="stats-section">
          <div class="row">
             <div class="stats-block">
                <p><strong>Total kilo</strong></p>
                  <p>789km</p>
                <div class="stats-card ml-2">
                <i class="fas fa-road"></i>
             </div>
            </div>
            <div class="stats-block">
                <p><strong>Hours ridden</strong></p>
                <p>50hrs</p>
              <div class="stats-card">
                <i class="fas fa-stopwatch"></i>
              </div>
            </div>
            <div class="stats-block">
                <p><strong>Longest ride</strong></p>
                <p>90km</p>
              <div class="stats-card">
                <i class="fas fa-road"></i>
              </div>
            </div>
          </div>
          <div class="rider-bio">
            <p><%= @user.bio %></p>
          </div>
          <div class="journey-section">
            <% if current_user == @user %>
            <h6>My Journey</h6>
            <% else %>
            <h6><%= @user.first_name %>'s Journey</h6>
            <% end %>
          </div>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Routes
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Posts
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Points
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <% @user.points.each do |point| %>
                   <%=  point.name %>
                   <br>
                   <%= point.category %>
                   <br>
                   <%= point.description %>
                   <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
