<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logogreen.png", class: "logo" %>
  <% end %>
</nav>
<div class="login-form-main">
  <div class="container">
    <div class="row justify-content-end">
      <div class="card login-card">
      <h2 class="mb-0">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-outline-secondary" %>
      </div>
          <%= link_to "Sign-up", new_user_registration_path, class: 'btn btn-large btn-outline-secondary mt-2 mb-2' %>
          <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn btn-lg btn-block mr-2" do %>
          <i class="fab fa-facebook-f"></i>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
