
<div class="border border-secondary mt-1 mb-1" id="post-card-<%=post.id%>">
  <h5><%= post.title %></h5>
  <p><%= post.content %></p>
  <% post.photos.each do |photo| %>
    <%= cl_image_tag photo.image.url(:thumbnail), width: 250, height: 250 %>
  <% end %>
   <% if policy(post).destroy? %>
    <%= link_to 'Delete', post_path(post), remote: true, class: "btn btn-outline-success", method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
    <% end %>
    <% if policy(post).edit? %>
      <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-success" %>
    <% end %>
</div>
